Makefile
.deps
.libs
config.log
config.h
config.status
autom4te.cache
libtool
stamp-h1
*.lo
*.o
*.la
*.a
pronto2lirc
xmode2
mode2
lircrcd
man2html
lircd
irrecord
lircmd
ircat
irexec
irpty
irsend
irw
irxevent
